.dashboard-content{
  display: flex;
  gap: 3rem;
}

.side-bar{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_group{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}

.submit_btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}